.background {
  background: linear-gradient(to bottom right, #FFFFFF, #D4FAFE);
  position: fixed;
  height: 100vh;
  width: 100%;
  }

.site_margin {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
  }